[Unit]
Description=Rocket.Chat Server
Requires=network.target rocketchat-mongodb.service
After=network.target rocketchat-mongodb.service

[Service]
Type=simple
Environment=NODE_ENV=production
Environment=PORT={{ port }}
Environment=ROOT_URL={{ url }}
Environment=MONGO_URL=mongodb://{{ app_data_dir }}/mongodb-27017.sock/rocketchat
ExecStart={{ app_dir }}/nodejs/bin/node {{ app_dir }}/bundle/main.js
ExecPostStart=timeout 5 /bin/bash -c 'until echo > /dev/tcp/localhost/{{ port }}; do sleep 1; done'

Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rocketchat
User=rocketchat

[Install]
WantedBy=multi-user.target 