[Unit]
Description=Rocket.Chat Server
Requires=network.target rocketchat-mongodb.service
After=network.target rocketchat-mongodb.service

[Service]
ExecStart={{ app_dir }}/nodejs/bin/node {{ app_dir }}/bundle/main.js
# Specify the location of node and location of main.js
# If set to always, the service will be restarted regardless of whether it exited cleanly or not, got terminated abnormally by a signal, or hit a timeout.
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
# Output to syslog
StandardError=syslog
SyslogIdentifier=rocketchat
User=rocketchat
#Group=<alternate group>
Environment=NODE_ENV=production PORT=3000 ROOT_URL={{ url }} MONGO_URL=mongodb://{{ app_data_dir }}/mongodb-27017.sock/rocketchat

[Install]
WantedBy=multi-user.target 