[Unit]
Description=Rocket.Chat MongoDB
After=network.target

[Service]
User=rocketchat
Environment=SNAP_COMMON={{ app_data_dir }}
ExecStart={{ app_dir }}/bin/service.mongodb.sh start
ExecStartPost={{ app_dir }}/bin/service.mongodb.sh post-start
[Install]
WantedBy=multi-user.target